#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

// Wifi parameters
char passphrase[] = "yourpassword";
char ssid[] = "yourwifirouter";

// Destination
char pingserver[] = "example.com";
char pingpath[] = "/path/to/receiver";

#endif